.round{
  border-radius: 50%;
}

//.fs-XX { font-size: XXpx }
@each $value in $font-size-helpers {
  .fs-#{$value} {
    font-size: #{$value}px;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}