/*
* Header Styles
*/

.header_absolute{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  .page_header:not(.affix){
    background: transparent;
  }
}

.page_header{
  transition: 0.3s ease-in-out;
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  &.affix{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: $darkgreyColor;
    //background: inherit;
  }
}

/*
* Menu Styles
*/

.top-nav{
  ul{
    li{
      display: inline-block;
    }
  }
}