.icon-box{
  display: flex;
  align-items: flex-start;

  @media(max-width: 768px){
   flex-direction: column;
    .icon-box_icon + .icon-box_body{
      margin-left: 0;
      margin-top: 20px;
    }
  }

  &.icon-box-right{
    @media(min-width: 992px){
      flex-direction: row-reverse;
      text-align: right;
      .icon-box_icon{
        margin-left: 36px;
      }
      .icon-box_body{
        margin-left: 0;
      }
    }
  }

  & + & {
    margin-top: 70px;
    @media(max-width: 1200px){
      margin-top: 40px;
    }
    @media(max-width: 991px){
      margin-top: 30px;
    }
  }

  &_icon{
    display: inline-block;
    flex-shrink: 0;
    & + .icon-box_body{
      margin-left: 36px;
    }
    &[class*='bg-']{
      text-align: center;
      width: 2.2em;
      height: 2.2em;
      box-sizing: content-box;
      line-height: 2.2em;
    }
  }
  &_body{
    padding-top: 20px;
    @media(max-width: 768px){
      p{
        display: none;
      }
    }
  }
}

.icon-box-tabs{
  .icon-box{
    .icon-box_icon{
      transition: all 0.3s ease-in-out;
    }
    .icon-box_icon:hover, .icon-box_icon.active{
      cursor: pointer;
      background: $colorMain !important;
      color: $lightColor !important;
    }
  }
  .img-wrap{
    img.active{
      animation: fadein 2s;
    }
    @media(max-width: 575px){
      img{
        max-width: 50%;
      }
    }
    img{
      max-width: 85%;
      @media(max-width: 991px) and (min-width: 576px){
        max-width: 20%;
      }
    }
  }
}


