#quiz{
  padding: 50px;
  border-radius: 10px;
  box-shadow: $boxShadow;
  position: relative;
  margin-bottom: 40px;
  z-index: 2;
  transform-style: preserve-3d;
  @media(max-width: 575px){
   padding: 30px;
  }
  &::before{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -20px;
    border-radius: 10px;
    top: 0;
    left: 20px;
    right: 20px;
    background: $colorMain2;
    z-index: -1;
    transform: translateZ(-1px)
  }
  &::after{
    content: '';
    position: absolute;
    display: inline-block;
    bottom: -40px;
    border-radius: 10px;
    top: 0;
    left: 40px;
    right: 40px;
    background: $colorMain3;
    z-index: -2;
    transform: translateZ(-1px)
  }
  .quiz-progress{
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    @media(max-width: 768px){
      display: none;
    }
    & > div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .progress__dot{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: $colorMain4;
      color: $lightColor;
      & + span{
        color: $darkgreyColor;
        margin-top: 15px;
        font-size: 14px;
      }
      &.active{
        background: $colorMain;
      }
    }
  }
  .quiz-questions__question{
    margin-bottom: 45px;
  }
  .quiz-questions__answers{
    counter-reset: li;
    list-style: none;
    padding-left: 0;
    width: 53%;
    margin: 0 auto;
    @media(max-width: 991px){
      width: 80%;
    }
    @media(max-width: 575px){
      width: 100%;
    }
    li{
      padding: 0;
      margin-bottom: 25px;
      position: relative;

      input{
        display: none;
        &:checked{
          & + label{
            background: $colorMain;
            color: $lightColor;
            &:after{
              color: $lightColor;
            }
            &::before{
              background: $lightColor;
            }
          }
        }
        & + label{
          margin-bottom: 0;
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 15px 20px 15px 70px;
          border: 1px solid $colorMain4;
          border-radius: 10px;
          font-size: 18px;
          position: relative;
          &:hover{
            background: $colorMain;
            color: $lightColor;
            &:after{
              color: $lightColor;
            }
          }
          &::before{
            content: '';
            position: absolute;
            right: 20px;
            top: 50%;
            border-radius: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
          }
          &::after {
            content: '0'counter(li);
            counter-increment: li;
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            font-weight: 600;
            color: $fontColor;
            font-size: 24px;
            font-family: 'IBM Plex Sans', sans-serif;
          }
        }
      }
    }
  }
}