<header class="page_header ls">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a href="/" rel="home" class="logo">
                    <img src="img/logo.png" alt="logo">
                </a>
            </div>
            <div class="col-sm-3">
                <nav class="top-nav">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">About</a>
                        </li>
                        <li>
                            <a href="/">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>