.ls{
  background: $lightColor;
  color: $fontColor;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $darkgreyColor;
  }
  a{
    color: $colorMain;
    &:hover{
      color: $darkgreyColor;
    }
  }
}