<% var data = {
title: "Home page",
}; %>

<%= _.template(require('./../includes/page_top.html').default)(data) %>

<div class="header_absolute">
    <%= _.template(require('./../includes/headers/header.html').default)(data) %>
</div>

<section class="intro ds s-pt-240 s-pb-330">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5">
                <h2>dfsfdsjf</h2>
                <p>
                    dSTAR Internet of Things (IoT) - is a solution for everyone who wants to take control of your home
                    and office. It’s not only easy to install and use it, but your camera’s management is also secure
                    with dSTAR iCommunicator.
                </p>
            </div>
            <div class="col-7">
                <img src="img/intro_inner.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="ls how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="special-heading color-main text-uppercase">
                    How it works
                </h6>
                <h3 class="special-heading">
                    How It Works
                </h3>
                <p class="special-heading">
                    In order to use the product you must obtain a license from dSTAR.
                </p>
                <div class="divider-30 divider-lg-60"></div>
            </div>
            <div class="col-lg-5 order-2 order-lg-1">
                <ol class="styled">
                    <li>
                        First an AMI must be deployed.
                    </li>
                    <li>
                        After deployment discover assigned Public DNS
                        or IPv4 from the Instance description page.
                    </li>
                    <li>
                        Sign up for Business account and continue
                        to registration page
                    </li>
                    <li>
                        Get 12 digits license number and input into
                        the dSTAR Application.
                    </li>
                    <li>
                        After deployment of the Instance, all features
                        could be tested via emulation dashboard: <a href="">https://&lt;PUBLIC_IP&gt;/testpanel</a>
                    </li>
                    <li>
                        Enjoy the benefits of secure infrastructure.
                    </li>
                </ol>
            </div>
            <div class="col-lg-7 order-1 order-lg-2">
                <div class="img-wrap">
                    <img src="img/mac.png" alt="mobile1">
                </div>
                <div class="divider-40 divider-lg-0"></div>
            </div>
        </div>
    </div>
</section>

    <section class="ls icon-box-tabs">
        <div class="container">
            <div class="row align-items-center">
            <div class="col-12 text-center">
                <h6 class="special-heading color-main text-uppercase">
                    Main Features
                </h6>
                <h3 class="special-heading">
                    All Communication Means<br> In One Pack
                </h3>
                <div class="divider-30 divider-lg-60"></div>
            </div>
            <div class="col-lg-4 col-6 order-2 order-lg-1">
                <div class="icon-box icon-box-right">
                    <div class="icon-box_icon round bg-grey color-main fs-28">
                        <i class="icomoon-icon1"></i>
                    </div>
                    <div class="icon-box_body">
                        <h6>
                            Messenger
                        </h6>
                        <p>
                            A secure instant messenger that provides all you need to <a href="#">More</a>
                        </p>
                    </div>
                </div>
                <div class="icon-box icon-box-right">
                    <div class="icon-box_icon round bg-grey color-main fs-28">
                        <i class="icomoon-icon2"></i>
                    </div>
                    <div class="icon-box_body">
                        <h6>
                            Audio Calls
                        </h6>
                        <p>
                            Make high quality, end-to-end encrypted audio calls, based <a href="#">More</a>
                        </p>
                    </div>
                </div>
                <div class="icon-box icon-box-right">
                    <div class="icon-box_icon round bg-grey color-main fs-28">
                        <i class="icomoon-icon3"></i>
                    </div>
                    <div class="icon-box_body">
                        <h6>
                            Rooms
                        </h6>
                        <p>
                            Make high quality video calls with up to 7 other <a href="#">More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 icon-box-tabs__image">
                <div class="img-wrap text-center">
                    <img src="img/mobile1.png" alt="mobile1">
                </div>
                <div class="img-wrap text-center">
                    <img src="img/mobile2.png" alt="mobile2">
                </div>
                <div class="img-wrap text-center">
                    <img src="img/mobile3.png" alt="mobile3">
                </div>
                <div class="img-wrap text-center">
                    <img src="img/mobile4.png" alt="mobile4">
                </div>
                <div class="img-wrap text-center">
                    <img src="img/mobile5.png" alt="mobile5">
                </div>
                <div class="img-wrap text-center">
                    <img src="img/mobile6.png" alt="mobile6">
                </div>
            </div>
            <div class="col-lg-4 col-6 order-3 order-lg-3">
                <div class="icon-box">
                    <div class="icon-box_icon round bg-grey color-main fs-28">
                        <i class="icomoon-icon4"></i>
                    </div>
                    <div class="icon-box_body">
                        <h6>
                            Email
                        </h6>
                        <p>
                            A customizable, multi-account email module that allows you <a href="#">More</a>
                        </p>
                    </div>
                </div>
                <div class="icon-box">
                    <div class="icon-box_icon round bg-grey color-main fs-28">
                        <i class="icomoon-icon5"></i>
                    </div>
                    <div class="icon-box_body">
                        <h6>
                            Cloud Storage
                        </h6>
                        <p>
                            A cloud storage space hosted on the box server in which all <a href="#">More</a>
                        </p>
                    </div>
                </div>
                <div class="icon-box">
                    <div class="icon-box_icon round bg-grey color-main fs-28">
                        <i class="icomoon-icon6"></i>
                    </div>
                    <div class="icon-box_body">
                        <h6>
                            Backup & Restore
                        </h6>
                        <p>
                            A specially designed backup mechanism for ensuring <a href="#">More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cs">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="special-heading text-capitalize">
                    participate in the survey and<br>
                    get free support
                </h3>
                <div class="divider-30 divider-lg-60"></div>
            </div>
            <div class="col-12">
                <div id="quiz" class="quiz ls">
                    <div class="quiz-progress" id="progress">

                    </div>
                    <div class="quiz-questions" id="questions">

                    </div>
                    <div class="quiz-results" id="result">

                    </div>
                    <div class="quiz-controls">
                        <button class="btn btn-prev" id="btn-prev">назад</button>
                        <button class="btn btn-next" id="btn-next" disabled>вперед</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/page_bottom.html').default)(data) %>