/*
** Blocks
*/

@import "blocks/header";
@import "blocks/intro";
@import "blocks/icon_box";
@import "blocks/special-heading";
@import "blocks/quiz";

.icon-box-tabs{
  background: url("../img/features-bg.jpg") no-repeat center / cover;
}

.how-it-works{
  background: url("../img/how-it-works-bg.jpg") no-repeat center / cover;
}