/*
** General Styles for HTML tags
*/
html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

::selection {
  color: $lightColor;
  background-color: $colorMain;
}

::-moz-selection {
  color: $lightColor;
  background-color: $colorMain;
}


body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: $lightColor;
  overflow: visible;
  overflow-x: hidden;
  //for scrollbar always seen
  overflow-y: scroll;
  //for scrollspy
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2em;
  word-break: break-word;
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: capitalize;
  //fix for Raleway numbers
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}

h1 {
  font-size: 60px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 50px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 42px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 28px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 24px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 20px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  h1 {
    font-size: 3.1rem;
    margin-top: 1.9rem;
  }
  h2 {
    font-size: 2.7rem;
    margin-top: 1.9rem;
  }
  h3 {
    font-size: 2.3rem;
    margin-top: 1.9rem;
  }
  h4 {
    font-size: 1.9rem;
    margin-top: 1.9rem;
  }
  h5 {
    font-size: 1.5rem;
    margin-top: 1.9rem;
  }
  h6 {
    font-size: 1.25rem;
    margin-top: 1.9rem;
  }
}


h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

p {
  margin-bottom: 1.5em;
  line-height: 1.5rem;
  &:last-child{
    margin-bottom: 0;
  }
}

a{
  transition: all 0.3s ease-in-out;
  &:hover{
    text-decoration: none;
  }
}

ul, ol{
  padding-left: 15px;
}

ul:last-child, ol:last-child{
  margin-bottom: 0;
}

ol.styled{
  list-style: none;
  counter-reset: li;
  padding-left: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  color: $darkgreyColor;

  li{
    position: relative;
    padding-left: 55px;
    & + li{
      margin-top: 35px;
    }
  }

  li::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $boxShadow;
    width: 35px;
    height: 35px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 300;
    color: $fontColor;
    border-radius: 5px;
  }
}



