/*
** Variables
*/

//text color in light section (.ls)
$fontColor: #667886;
//background color for light section (.ls) and font color in dark section (.ds)
$lightColor: #ffffff;
//text color for headings in light section (.ls) and background color for dark section (.ds)
$darkgreyColor: #161616;
//background color for light grey background light section (grey - .ls.ms)
$greyColor: #f2fbff;
//background color for dark muted section (.ds.ms)
$darkColor: #251b19;

//theme accent colors
$styleNumber: '' !default;
$colorMain: #00ABCA !default;
$colorMain2: #4EBBCF !default;
$colorMain3: #34B3C9 !default;
$colorMain4: #D8D8D8 !default;

$boxShadow: 7px 7px 30px rgba(0, 0, 0, 0.1);

$grid-breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$section-vertical-padding: 150 240 330;

//font size helpers - fs-xx
$font-size-helpers: 28;

$dividers-height: 0 10 15 20 30 40 60;